@font-face {
  font-family: 'Montserrat';
  src: url(/fonts/montserrat/Montserrat-Regular.eot);
  src: url(/fonts/montserrat/Montserrat-Regular.eot?#iefix) format('embedded-opentype'),
  url(/fonts/montserrat/Montserrat-Regular.woff2) format('woff2'),
  url(/fonts/montserrat/Montserrat-Regular.woff) format('woff'),
  url(/fonts/montserrat/Montserrat-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}