h1, h2, h3, h4, h5, h6, p, input, textarea {
	font-family: $mainFont !important;
}

h1 {
	font-size: 30px;
	padding: 10px 10px 10px 10px;

	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .10em solid $primaryColor; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	//letter-spacing: .05em; /* Adjust as needed */
	animation:
					typing 1.2s steps(25, end),
					blink-caret 0.85s step-end infinite;

	/* The typing effect */
	@keyframes typing {
		from { width: 0 }
		to { width: 90% }
	}

	/* The typewriter cursor effect */
	@keyframes blink-caret {
		from, to { border-color: transparent }
		50% { border-color: $primaryColor; }
	}

	&::first-letter {
		color: $primaryColor !important;
	}

	.period {
		color: $primaryColor !important;
	}
}

p {
	font-size: 16px;
}

a {
 	text-decoration: none !important;
}