.uk-navbar-toggle {
  margin-left: 15px !important;
  color: $primaryColor !important;

  svg {
    width: 30px !important;
  }
}
.uk-offcanvas-close {
  margin: 7.5px 8px 0 0 !important;
}

.uk-offcanvas-bar {
  padding-top: 60px !important;

  .uk-offcanvas-close {
    line {
      stroke: whitesmoke !important;
    }
  }

  .uk-nav {
    li {
      a {
        font-family: Montserrat;
        font-size: 20px;
        //text-transform: uppercase;
        color: whitesmoke !important;

        &::first-letter {
          color: $primaryColor !important;
          font-weight: bold;
        }
        &:hover {
          color: $primaryColor !important;
        }
      }
    }
  }
}

.home-cta-contact {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 200px;
  background-color: $primaryColor;
  color: white !important;
  border: 0;
  font-size: 20px;
}