.block {
  .add-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: gray;
    border: 1px solid darkgray;

    &:hover {
      color: black;
    }

    i {
      font-size: 50px;
    }
  }

  .editable-image {
    position: relative;

    .image-edit-hover {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.8);

      .buttons {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 40%;
        height: 100%;

        button {
          float: left;
          width: 50%;
          height: 100%;
          font-size: 30px;
          color: white;
          cursor: pointer;

          i {
          }
        }
      }
    }
  }
}

.text-block {

}

.image-block {
  .add-block-image {
    height: 300px;
  }

    img {
    max-width: 100%;
  }
}

.hidden-fields {
  display: none;
}