button {
	font-family: $mainFont;

	&.btn-primary {
		background-color: gray;
		border: black;
	}

	&.transparent-button {
		background-color: transparent;
		border: 0;
		padding: 0;
		cursor: pointer;
		outline: none;
	}
}