.float-bar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	background-color: #383838;
	z-index: 10;
	font-family: $mainFont;
	font-weight: 300;
	color: white;

	.float-inner {
		padding: 0 10px;
		position: relative;

		.user {
			float: left;
			margin-top: 9px;

			i.material-icons {
				position: relative;
				top: 6px;
			}
		}

		.logout {
			float: right;	
			color: white;
			margin-top: 1px;

			i.material-icons {
				position: relative;
				top: 6px;
			}
		}
	}
}