.image-center {
  display: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 100;
  position: fixed;
  margin: auto;

  .image-center-inner {
    width: 90%;
    height: 80%;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 40px 40px 0 40px;
    z-index: 110;

    .row {
      margin-bottom: 30px;

      .image-center-image {
        height: 180px;
        border: 2px solid #383838;
        cursor: pointer;
      }
    }
  }
}