.add-image, .edit-image {
  display: none;

  .image-fields {
    display: none;
  }

  .image-div {
    position: relative;

    img {
      max-width: 100%;
      cursor: pointer;

      &.placeholder {
        display: none;
      }
    }
  }
}

.images {
  .row {
    margin: 0;

    .item {
      height: 225px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      .item-inner {
        position: relative;
        width: 100%;
        height: 100%;

        .add-button {
          width: 100%;
          height: 100%;
          font-size: 40px;
        }

        .edit-bar {
          position: absolute;
          top: 0;
          width: 100%;
          text-align: right;
          padding: 4px;
          z-index: 10;

          .more-button {
            color: white;
          }
        }

        .more-toggle {
          display: none;

          .more-menu {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #383838;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
              text-decoration: none;
              color: white;
              width: 30%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              float: left;

              i {
                font-size: 35px;
              }
            }
          }
        }

        .thumb-holder {
          height: 100%;
          width: 100%;
        }
      }

      button {
        outline: none;
        cursor: pointer;
        background-color: transparent;
        border: 0;
      }
    }
  }
}