nav {
	background-color: $darkBackgroundColor;
	position: fixed;
	display: inline-block;
	height: 100vh;
	width: 140px;
	padding-top: 40px;
	left: 0;

	a {
		text-decoration: none;
		display: block;
		color: gray;
		text-align: center;
		padding: 30px 15px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;

		&.active {
			color: whitesmoke;
		}

		&:hover {
			text-decoration: none;
			color: whitesmoke;
		}

		i.material-icons {
			display: block;
			margin-bottom: 10px;
		}
	}
}