.slick-slider {
  border: 1px solid gray;
  padding: 10px;
  margin: 0 10px;

  .slick-prev:before {
    color: gray;
  }
  .slick-next:before {
    color: gray;
  }

  .add-slide {
    height: 100%;
    width: 400px;
  }

  img {
    max-width: 100%;
    height: 100%;
  }

}