.nav-tabs {
	li.nav-item {
		a {
			color: gray;

			&.active {
				color: black;
			}
		}
	}
}

.tab-content {
	.tab-pane {
		background-color: white;
		padding: 20px;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
}