body {
	margin: 0;
	min-width: 100%;
	min-height: 100%;

	.content {
		min-width: 100%;
		min-height: 100%;
		background-color: whitesmoke;
	    padding-left: 160px;
    	padding-top: 60px;
    	padding-right: 20px;

		.top-content {
			position: relative;
		}
	}

	a {
		text-decoration: none;
	}
}