.space-10 {
	width: 100%;
	height: 10px;
	clear: both;
}

.space-20 {
	width: 100%;
	height: 20px;
	clear: both;
}

.space-30 {
	width: 100%;
	height: 30px;
	clear: both;
}

.space-40 {
	width: 100%;
	height: 40px;
	clear: both;
}

.space-50 {
	width: 100%;
	height: 50px;
	clear: both;
}

.space-60 {
	width: 100%;
	height: 60px;
	clear: both;
}

.space-70 {
	width: 100%;
	height: 70px;
	clear: both;
}

.space-80 {
	width: 100%;
	height: 80px;
	clear: both;
}

.space-90 {
	width: 100%;
	height: 90px;
	clear: both;
}

.space-100 {
	width: 100%;
	height: 100px;
	clear: both;
}