$global-link-color: #DA7D02;

@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

@mixin hook-card() { color: #000; }

@import "~uikit/src/scss/uikit-theme.scss";

.portfolio-projects .uk-card {
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
}